@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  transition:all 0.3s step-end ;
}

/*================================================================| */

/* Body */
body {
  
  background: url(assets/bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/* Boay::Before */
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(10px);
}

/*================================================================| */

/* MAIN_CONTAINER */
.main-container {
  border: 0px solid;
  width: 40%;
  height: 75%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 20px;
  overflow: hidden;
}

/*================================================================| */

/* INPUT CONTAINER */
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.city-input {
  transform: scale(1.1);
  width: 80%;
  padding: 10px 16px;
  border-radius: 99px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  background: rgb(0, 0, 0, 0.15);
  outline: none;
  font-weight: 500;
  transition: 0.25s border;
}

.city-input:focus {
  border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-input::placeholder {
  color: rgb(255, 255, 255, 0.75);
}

.search-btn {
  padding: 10px;
  width: 40px;
  height: 40px;
  transform: scale(1.3);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  background: rgb(0, 0, 0, 0.15);
  outline: none;
  font-weight: 500;
  transition: 0.25s border;
  color: white;
  border: 2px solid transparent;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.city-input,
.search-btn:active {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3), 0 4px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

/* END INPUT_CONTAINER */

/* RESUABLE ULILITES */
.regular-txt {
  font-weight: 800;
}
/* END:RESUABLE ULILITES */

/*================================================================| */

/* SECTION: WEATHER_INFO */

.weather-info {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.location-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  gap: 3px;
}

/* END SECTION: WEATHER_INFO */

/*================================================================| */

/* SECTION: WEATHER_SUMMARY */
.weather-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-summary-img {
  width: 120px;
  height: 120px;
}

.weather-summary-info {
  text-align: right;

  /* END:WEATHER_SUMMARY */
}

/* weather-conditions-container */

.weather-conditions-box {
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  justify-content: space-between;
}

.weather-conditions-container {
  display: flex;
  gap: 0.5rem;
}

/* END:weather-conditions-container */

/*==================================================================*/

/* Forecast Item */

.forecast-item-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow: scroll;
  padding-bottom: 20px;
}

.forecast-item-container::-webkit-scrollbar {
  height: 8px;
}

.forecast-item-container::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.2);
  border-radius: 99px;
}

.forecast-item-container::-webkit-scrollbar-thumb {
  background: rgb(250, 248, 248);
  border-radius: 99px;
}
.forecast-item:hover {
  background: rgb(255, 255, 255, 0.2);
}

.forecast-item {
  min-width: 110px;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 10px;
  transition: 0.2s background ease-in-out;
}

.forecast-item-img {
  width: 50px;
}

/*  SECTION 1st END */

/*================================================================|*/

/* SECTION 2ND */

.section-message {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.message-img {
  height: 18rem;

  width: fit-content;
}

.message-img_not-found {
  height: 16rem;

  width: fit-content;
}

/* SECTION 2ND END*/
